transformers>=4.30.0
torch>=1.13.0
numpy>=1.22.0
pandas>=1.3.0
scrapy>=2.5.0
yfinance>=0.2.0
dateparser

pip install spacy
python -m spacy download pt_core_news_lg


pip install -U yfinance certifi requests


pip install yfinance vectorbt